.avia-section.av-lajxr8wq-33a7a79ae66cc0c62b9b43be3e335e20{
background-color:#000000;
background-image:unset;
}

#top .av-special-heading.av-lajxqm4w-189ad369c87aca6a94e30cc7395a2ffb{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-lajxqm4w-189ad369c87aca6a94e30cc7395a2ffb .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lajxqm4w-189ad369c87aca6a94e30cc7395a2ffb .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lajxqm4w-189ad369c87aca6a94e30cc7395a2ffb .av-subheading{
font-size:15px;
}

.flex_column.av-ls58-098cbde8173ae6236d63edf7d6aaabf9{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-kflg-a9bdeb4a90d22b3caac1ec79d19db57a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kantoik6-f4ea35f972dc82b9175ad3020ea95d28{
padding-bottom:10px;
}
body .av-special-heading.av-kantoik6-f4ea35f972dc82b9175ad3020ea95d28 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kantoik6-f4ea35f972dc82b9175ad3020ea95d28 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-i202-49867aa770271328f6fead0ad771a9c2{
height:30px;
}

#top .hr.hr-invisible.av-5nrc-cdb399bc169a23036f97e47073051f50{
height:30px;
}

#top .hr.hr-invisible.av-2k4q-850cbc8ef48655ee6bfc40db0f5037aa{
height:30px;
}

.avia-section.av-gjsy-1abcb0e719e0b8404baaaaf6efeebbb8{
background-color:#23a551;
background:linear-gradient( to bottom right, #23a551, #09391a );
}

#top .hr.hr-invisible.av-k88vbp4u-04b875e03faa021700b4886013d6b526{
height:30px;
}

.flex_column.av-1hju-2f55ad8fcbfa2412ea054098e5f0ee7a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.av_font_icon.av-k88veakg-9e73d1fecaf9e8cbe2ec0d161a7d0804{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-k88veakg-9e73d1fecaf9e8cbe2ec0d161a7d0804 .av-icon-char{
font-size:70px;
line-height:70px;
width:70px;
}

.flex_column.av-ocec-51354436221e32498a6ec7cc664aa73b{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.av_font_icon.av-lai3lppu-52f4a5b998574b130f634cb978252c61{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-lai3lppu-52f4a5b998574b130f634cb978252c61 .av-icon-char{
font-size:70px;
line-height:70px;
width:70px;
}

.flex_column.av-n64e-4cf71da068c493e86dd340df13c11407{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.av_font_icon.av-lai3ly32-be5ad8116f29fdd2c5bb082d770abb23{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-lai3ly32-be5ad8116f29fdd2c5bb082d770abb23 .av-icon-char{
font-size:70px;
line-height:70px;
width:70px;
}

.flex_column.av-kux4-80715af570715ac1b9160ce5e321c44f{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.av_font_icon.av-ieri-ceb5f8c07946b1ae44dc16fb3caa4717{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-ieri-ceb5f8c07946b1ae44dc16fb3caa4717 .av-icon-char{
font-size:70px;
line-height:70px;
width:70px;
}

#top .hr.hr-invisible.av-k88vbp4u-3-ee5419df34cb1da1f8f922e6852c36f2{
height:30px;
}

.avia-section.av-l5l5zyy2-554e4a45863cd1a6b22980c12f059728{
background-color:#f4f4f4;
background-image:unset;
}

#top .av-special-heading.av-lai3bqud-d85248f619453e9c772e2e3631275e1e{
padding-bottom:10px;
}
body .av-special-heading.av-lai3bqud-d85248f619453e9c772e2e3631275e1e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lai3bqud-d85248f619453e9c772e2e3631275e1e .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-49mm-728cfaf0517798ec37e69d6822c38858{
height:30px;
}

#top .hr.hr-invisible.av-g66y-35c341c44b0e4f9c7abf741d614df38a{
height:30px;
}

.avia-section.av-l5l5ztd7-9d2d4dd5a1f1e7549e4eedf0aac515f6{
background-color:#ffffff;
background-image:unset;
}

.flex_column.av-7oho-1a4b2af3b9ce8cff0d262c359faeda89{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k88vkqef-9ded0d0bc80ef116bd27a065aeba0990{
padding-bottom:10px;
}
body .av-special-heading.av-k88vkqef-9ded0d0bc80ef116bd27a065aeba0990 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-k88vkqef-9ded0d0bc80ef116bd27a065aeba0990 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-5052-7cf2d4838f59d4455922d880a139b4b4{
height:30px;
}

#top .hr.hr-invisible.av-e6js-9457ef98808d089833ba143067ad0780{
height:30px;
}

.flex_column.av-bvnw-5d140526e2c7233b271eb852ade403cc{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-a75u-5dca572879e8e7a71601430d72662dbc img.avia_image{
box-shadow:none;
}
.avia-image-container.av-a75u-5dca572879e8e7a71601430d72662dbc .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-afbg-4d8fad28e1479abdf1a0427d553ea398{
background-color:#f4f4f4;
background-image:unset;
}

